# Google service account credentials (use Vercel environment variables)
SHEET_CLIENT_EMAIL=whatsapp-crm-bot@whatsapp-ecommerce-crm.iam.gserviceaccount.com
SHEET_PRIVATE_KEY="81b0ead15fbcdabc46f74b817054ffdff85b34a9"
GSHEET_ID=1g0bWX8Hj-Erg0FZRP6VWv54wDEyepiJem073xE5_1-I

# Business settings
BUSINESS_NAME=Crazy Shopperz
WHATSAPP_NUMBER=917092244494
DELIVERY_CHARGE=40
LOGO_URL=
